.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: auto 30% 70%;
}

.outlet {
  background-color: var(--Dark-Blue);
  border-right: 1px solid var(--Grey-Medium);

  & h1 {
    font-size: 23px;
  }
}

.chat-select {
  height: 100%;
  background-color: var(--Grey);
}

@media (0 <= width <= 1000px) {
  .main {
    grid-template-columns: auto 1fr;
  }

  .chat-select {
    display: none;
  }
}