.settings {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  
  & h3 {
    font-size: 17px;
    font-weight: 400;
  }
}

.settings header {
  & .title {
    height: 60px;
    padding-left: 25px;
    padding-right: 20px;
    display: flex;
    align-items: center;
  }

  & form {
    display: flex;
  }
}

.settings .content {
  overflow: auto;
  & .user-info {
    height: 100px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--Grey-Medium-Darker);
      cursor: pointer;
    }

    & p {
      font-size: 14px;
      color: var(--Grey-Light);
      opacity: .8;
    }

    & .separator {
      margin: 8px 16px;
    }
  }

  & .lis {
    display: flex;
    flex-direction: column;
  }
}

.settings-item {
  height: 70px;
  display: flex;
  width: 100%;
  color: var(--Grey-Light);

  &:hover {
    background-color: var(--Grey-Medium-Darker);
    cursor: pointer;
  }

  & .icon {
    width: 60px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .text {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Grey-Medium-Darker);
  }
}

.input-search {
  width: 100%;
  margin: 8px 16px;
  padding: 8px 16px;
  background-color: var(--Grey-Medium-Darker);
  border-radius: 8px;

  & input {
    font-size: 15px;
    background-color: transparent;

    &::placeholder {
      color: var(--Grey-Light);
      opacity: .5;
      padding-left: 5px;
    }
  }
}